.digital-clock{
    margin-top: 37vh;
    
}

@media (min-width: 360px) and (max-width: 376px) {
    .digital-clock{
        margin-top: 20vh;
        
    }
}

@media (min-width: 540px) and (max-width: 541px) {
    .digital-clock{
        margin-top: 20vh;
        
    }
}
@media (min-width: 280px) and (max-width: 281px) {
    .digital-clock{
        margin-top: 20vh;
        
    }
}
@media (min-width: 1024px) and (max-width: 1025px) {
    .digital-clock{
        margin-top: 20vh;
        
    }
}